TEGB_FRONTEND_URL="frontend_url"
TEGB_API_URL="backend_api_url"
TEGB_DEFAULT_USER="username for atomic tests"
TEGB_DEFAULT_PASSWORD="password for atomic tests, DDT"
TEGB_VISUAL_USER="username for visual test"
TEGB_VISUAL_PASS="password for visual test"